<!DOCTYPE html>
<html>
<head>
    <title>DevOps Flask App</title>
</head>
<body style="background-color:rgb(56, 206, 206);">

    <h1>Hello New Website</h1>
    <button>Book Now</button>

    <h2>Health Check</h2>
    <p>Status: {{ status }}</p>

    <h2>About</h2>
    <p>{{ about }}</p>

    <h2>User</h2>
    <p>Hello, {{ name }} 👋</p>

    <h1>This is a heading</h1>
    <p>This is a paragraph.</p>

    <button>Click Now</button>
    <a href="https://www.w3schools.com/">Visit W3Schools.com!</a>

</body>
</html>